extends layout

mixin env-tile(env)
    .col-md-6
        .panel.panel-primary
            .panel-heading
                h3.panel-title= env.name
            .panel-body
                for component in env.components
                    span.label.label-success= component.name
                    span= component.version  
                    p
            
block content
    div.container
        div.starter-template
            h1 Release-o-tron
            p.lead Here's what's currently deployed:
            for env in environments
                +env-tile(env)


        