extends layout

block content
 
.container
  .starter-template
    h1 Release-o-tron
    p.lead Here's what's currently deployed:
  .row
    .col-md-3
      .panel.panel-success
        .panel-heading
          h3.panel-title Development - IPAY
        #ipay.panel-body
    .col-md-3
      .panel.panel-success
        .panel-heading
          h3.panel-title Integration - TPAY
        #tpay.panel-body
    .col-md-3
      .panel.panel-success
        .panel-heading
          h3.panel-title Staging AWS - SPAY
        #spay.panel-body
    .col-md-3
      .panel.panel-success
        .panel-heading
          h3.panel-title Live AWS - LPAY
        #lpay.panel-body
  // /.row
  .row
    .col-md-3
    .col-md-3
    .col-md-3
    .col-md-3
      .panel.panel-success
        .panel-heading
          h3.panel-title Live Russia Cloud152 - LRPAY
        #lrpay.panel-body
  // /.row
  .row
    .col-md-3
    .col-md-3
    .col-md-3
    .col-md-3
      .panel.panel-success
        .panel-heading
          h3.panel-title Live AWS CMGC - DoL
        #dolcmgc.panel-body
  // /.row
// /.container
